.landonorris{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    height: 100vh;
}
.landobg{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.apaini{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding-left: 99px;
    padding-right: 99px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-bottom: 70px;
}
.logox{
    width: 95px;
    height: 95px;
}
.aboutus{
    background-color: white;
    display: flex;
    padding-left: 72px;
    padding-top:210px;
    padding-bottom: 210px;
    gap:113px;
    animation: easeInFromLeft 3s;
}
@keyframes easeInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
.faq{
    display: flex;
    padding-left: 286px;
    background-color: #F2F2F2;
    padding-bottom: 380px;
}
.faqleft{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.faqyu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* padding-right: 286px; */
}
.butong{
    height: 62px;
    width: 300;
    max-width: 100%;
    align-self: center;
    border-radius: 10px;
    border: 0px;
    background-color: var(--normal-red-background);
    color: white;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    padding-left: 19px;
    padding-right: 19px;
}
.dropdown-reveal {
    background-color: #FFFFFF; /* set background to white */
    border-radius: 15px;
    margin-bottom: 10px;
  }
  
  .dropdown-reveal .header {
    border-bottom: 1px solid #CCCCCC; /* add border under the title */
    padding-top: 20px; /* add 20px top padding to the text header */
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
  }
  
  .dropdown-reveal .header:hover {
    cursor: pointer; /* change cursor to pointer on hover */
  }
  
  .dropdown-reveal .text-container {
    padding: 16px; /* add some padding to the revealed text */
  }