.landonorris{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    height: 100vh;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding-left: 99px;
    padding-right: 99px;
    padding-top: 21px;
    padding-bottom: 21px;
}
.logox{
    width: 95px;
    height: 95px;
}