.footer{
    background-color: #ED1E28;
    height: 35vh;
    display: flex;
    flex-direction: row;
}
.logo12121 img{
    max-width: 15vw;
    padding-left: 74px;
    padding-top: 6vh
}
.tevent{
    display: flex;
    flex-direction: column;
}
.link{
    margin-left: 20vw;
    margin-top: 100px;
    margin-bottom: 100px;
}
.link li{
    list-style-type: none;
    color: white;
    font-size: 3vh;
}